<nav class="navbar navbar-expand-lg navbar-light bg-light">
  {{#link-to 'index' class='navbar-brand'}}CompanyAdmin{{/link-to}}
  <div class="collapse navbar-collapse">
    <div class="navbar-nav">
      {{#link-to 'companies' class='nav-link'}}Companies{{/link-to}}
    </div>
  </div>
</nav>

{{outlet}}

<div class="footer">
 <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2020 Company Admin</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
  </div>