<section class="jumbotron text-center">
    <div class="container">
      <h1>Company Admin</h1>
      <p class="lead text-muted">Welcome to Company Admin! Click the button bellow to browse the companies.</p>
      <p>
         {{#link-to 'companies' class='btn btn-primary my-2'}}Browse companies{{/link-to}}
      </p>
    </div>
</section>